* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  border: 0px solid black;
  background: rgb(0, 195, 255, 0.6);
  width: 100%;
  height: 100%;
}

.input-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
}
#inp-btn {
  margin-top: 20px;
  padding: 10px 20px;
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
#inp-btn:active,
#inp-btn:focus,
#inp-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
